body {
    background-color: #2B3856;
  }
  
  .css-image {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 5%;
   
  }
  
  .bar {
    width: 100;
    position: relative;
    margin-top: -39%;
  }
  
  .bar p{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    
  }
  
  .title {
    width: 100;
    position: relative;
    margin-top: 10%;
  }
  
  .title p{
    margin-left: 20px;
    color: white;
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .parent{
    position: relative;
  }

  .imgb{
    position: absolute;
  }
  
  .imgc{
    position: absolute;
  }
  
  .imgd{
    position: absolute;
  }
  
  .logo{
    width: 500px;
    height: 400px;
    transform: translate(170%, -127%);
  }
  
  .contact-me{
    width: 270px;
    height: 100px;
    transform: translate(20%, -120%);
  }
  
  .blur{
    width: 230px;
    height: 300px;
    transform: translate(0%, -101%);
  }
  
  .blur2{
    width: 1500px;
    height: 200px;
    transform: translate(0%, -255%);
  }
